<a href="https://colab.research.google.com/github/anhhahuynh/Excercise-AI/blob/main/AI_W3_18_02_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
dataframe = pd.DataFrame()
dataframe['Name'] = ['Lemon','Apple','Banana']
dataframe['Price'] = [5,8,7]
dataframe['License'] = [False,True,True]
dataframe

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
dataframe.shape

(3, 3)

In [ ]:
df=dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Price    3 non-null      int64
 2   License  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

In [ ]:
df.describe()
#mean là stb
#std là độ lệch chuẩn

          Price
count  3.000000
mean   6.666667
std    1.527525
min    5.000000
25%    6.000000
50%    7.000000
75%    7.500000
max    8.000000

In [ ]:
# loc iloc : location
df.loc[(df.Price == 8)]

    Name  Price  License
1  Apple      8     True

In [ ]:
df.loc[(df.Price == 8) | (df.Name == 'Banana')] 
# ' | ' là toán tử or

     Name  Price  License
1   Apple      8     True
2  Banana      7     True

In [ ]:
df.loc[(df.Price == 8) | (df.Name == 'Banana') , ['Name','Price']]

     Name  Price
1   Apple      8
2  Banana      7

In [ ]:
df.iloc[2]
type(df.iloc[2])

pandas.core.series.Series

In [ ]:
df.iloc[[2]]

     Name  Price  License
2  Banana      7     True

In [ ]:
df.iloc[0:2]

    Name  Price  License
0  Lemon      5    False
1  Apple      8     True

In [ ]:
df.iloc[0:2,0:-1]

    Name  Price
0  Lemon      5
1  Apple      8

In [ ]:
df.iloc[0:2,-1]

0    False
1     True
Name: License, dtype: bool

In [ ]:
# create row data
new = pd.Series(['Orange',10,True], index=['Name','Price','License'])
# append row
dataframe.append(new, ignore_index = True)

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True
3  Orange     10     True

In [ ]:
# append a column
dataframe['Location'] = ['USA','VN','SIN']
dataframe

     Name  Price  License Location
0   Lemon      5    False      USA
1   Apple      8     True       VN
2  Banana      7     True      SIN

In [ ]:
# delete a row
dataframe.drop(1, axis=0).head(10)

     Name  Price  License Location
0   Lemon      5    False      USA
2  Banana      7     True      SIN

In [ ]:
# delete a column
dataframe.drop('Location', axis=1).head()

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
# replace
dataframe['Price'].replace(5,7).head(5)

0    7
1    8
2    7
Name: Price, dtype: int64

In [ ]:
# rename columns
dataframe.rename(columns={'Price':'Cost'}).head()

     Name  Cost  License Location
0   Lemon     5    False      USA
1   Apple     8     True       VN
2  Banana     7     True      SIN

In [ ]:
# load library
import pandas as pd
# create url
url = '/content/medals.csv'
# load data
dataframe = pd.read_csv(url)
# show data
dataframe.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
data = dataframe
data.describe()

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [ ]:
data.iloc[0:10] # ~[:10]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold

In [ ]:
data.iloc[[200,]]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
200,1948,St. Moritz,Skiing,Nordic Combined,FIN,individual,M,Gold

In [ ]:
data = data.set_index(data['NOC'])
data.loc['GER']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
GER,1928,St. Moritz,Bobsleigh,Bobsleigh,GER,five-man,M,Bronze
GER,1932,Lake Placid,Bobsleigh,Bobsleigh,GER,four-man,M,Bronze
GER,1932,Lake Placid,Ice Hockey,Ice Hockey,GER,ice hockey,M,Bronze
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,individual,M,Silver
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,pairs,X,Gold
...,...,...,...,...,...,...,...,...
GER,2006,Turin,Skiing,Cross Country S,GER,sprint 1.5km,W,Silver
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual,M,Gold
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual sprint,M,Bronze
GER,2006,Turin,Skiing,Nordic Combined,GER,Team,M,Silver
GER,2006,Turin,Skiing,Snowboard,GER,Giant parallel slalom,W,Silver

In [ ]:
data.loc['USA']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
USA,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
USA,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
USA,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
USA,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze
USA,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
data[data['NOC']=='CAN'].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
CAN,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1928,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1932,Lake Placid,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1932,Lake Placid,Skating,Figure skating,CAN,individual,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,10000m,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Silver
CAN,1932,Lake Placid,Skating,Speed skating,CAN,5000m,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,500m,M,Bronze
CAN,1936,Garmisch-Partenkirchen,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Silver

In [ ]:
data[(data['Year']>=1990)&(data['Year']<=2006) & (data['NOC']=='USA')&(data['Event gender']=='W')&(data['Medal']=='Gold')].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
USA,1992,Albertville,Skating,Figure skating,USA,individual,W,Gold
USA,1992,Albertville,Skating,Short Track S.,USA,500m,W,Gold
USA,1992,Albertville,Skating,Speed skating,USA,1000m,W,Gold
USA,1992,Albertville,Skating,Speed skating,USA,500m,W,Gold
USA,1992,Albertville,Skiing,Freestyle Ski.,USA,moguls,W,Gold
USA,1994,Lillehammer,Skating,Short Track S.,USA,500m,W,Gold
USA,1994,Lillehammer,Skating,Speed skating,USA,1000m,W,Gold
USA,1994,Lillehammer,Skating,Speed skating,USA,500m,W,Gold
USA,1994,Lillehammer,Skiing,Alpine Skiing,USA,super-G,W,Gold
USA,1998,Nagano,Ice Hockey,Ice Hockey,USA,ice hockey,W,Gold

In [ ]:
train_data = pd.read_csv ('/content/Vehicle_Insurance.csv')
train_data.head(10)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
5,6,Female,24,1,33.0,0,< 1 Year,Yes,2630.0,160.0,176,0
6,7,Male,23,1,11.0,0,< 1 Year,Yes,23367.0,152.0,249,0
7,8,Female,56,1,28.0,0,1-2 Year,Yes,32031.0,26.0,72,1
8,9,Female,24,1,3.0,1,< 1 Year,No,27619.0,152.0,28,0
9,10,Female,32,1,6.0,1,< 1 Year,No,28771.0,152.0,80,0